__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.env
db.sqlite3
*.db
.pytest_cache/
.coverage
htmlcov/

# Google Wallet
secrets/
*.json

# Apple Wallet
certificates/apple_wallet/*.p12
certificates/apple_wallet/*.certSigningRequest
generated/apple_wallet/pkpass/*
generated/apple_wallet/qr/*
wallet-api-temp/

